* {
    box-sizing: border-box;
}

body {
    background-color: rgb(120, 310, 100, 0.5);
}

h2 {
    color: red;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
}
.text {
    font-weight: 900;
}

.chapter {
    color: blue;

}

#begin {
    color: orange;
}

.box {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color:blanchedalmond;    
    padding: 20px;
    border: 3px solid black;
    margin: 20px;
    z-index: 5;
}

.pink {
    color: pink;
}

a {
    padding: 30px;
    margin: 20px;
    width: 500px;
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
}

nav {
    /* static, relative, absolute, fixed, inherit */
    position: inherit;
    right: 0px;
/*     bottom, top, right, left */
}

.red {
    position: absolute;
left: 80px;
    background-color: red;
    z-index: -1;
}

.example {
    position: relative;
}